.searchBar{
    /* search bar */
    /* margin-bottom: 10px; */
    position: relative;
    top:105px;
    display: flex;
    align-items: center;
    border-radius: 40px;
    background-color: rgb(237, 240, 249);
}

.submit-button{
    background-color: rgb(82, 96, 128);
    border-radius: 40px;
    /* font-size: 18px; */
    color: #fff;
    padding: 30px;
    height: 30px;
    width: 120px;
    border:40px;
    display:flex;
    align-items:center;
    justify-content: center;
    font-size:18px;
}

.submit-button:hover{
    background-color: rgb(112, 125, 153);
}

.search input {
    /* text box */
    background-color: rgb(237, 240, 249);
    margin-left:10px;
    border: 0;
    border-radius: 40px;
    font-size: 18px;
    color: black;
    padding: 15px;
    height: 30px;
    width: 600px
}

.searchIcon {
    height: 60px;
    width: 50px;
    background-color: white;
    display: grid;
    place-items: center;
}

input:focus {
    outline: none;
}

.searchIcon svg {
    font-size: 35px;
}
